language: java
branches:
  only:
  - master
  - develop
install: true
jdk:
- oraclejdk8
cache:
  directories:
  - $HOME/.m2
script:
- git clone -b master https://github.com/nablarch/nablarch-ci-script.git $HOME/build-script/
  && chmod +x $HOME/build-script/travis-ci/*.sh
- $HOME/build-script/travis-ci/install-mvn-3.2.5.sh
- $HOME/build-script/travis-ci/prepare_travis_settings.sh
- $HOME/build-script/travis-ci/install-mom_testing_common.sh
- $HOME/build-script/travis-ci/gsp-gen.sh -p gsp
- $HOME/build-script/travis-ci/nablarch-mvn-build-nodeploy.sh -p travis,development
- $HOME/build-script/travis-ci/upload-mvn-test-report.sh
notifications:
  slack:
    secure: XXN16j+egoqABjX/m9u5npztluxxesxr+qa4GVYiOaynvwsrU6/Exljae4psnzzqVeKCnhSpVPbrkQDXB/4AN4/kHmPbcDaaOovfzSnkRCYdBGDqMNUwZe0WbB0Meg4fV2/YcmZMHCr8pydjZWE2iImAAtVEntKNAz6F2aO2irTQ85u7pnlmGLGfMxjfKUhrIBokA2jgZiCjEWzfr+6Kw6jSrV6CTcdantbyT2wc9OGRSq8Ku/PKnQ/M3hryqO9/UX5epzom1G48HqJET6rasCMJgRnPIgsHSJ/rxm3XTc83tbWMjiii2SzBrziqeAuD4QQsveXsHbHKrVDXSO7QrUw/PctGwIBcZfrUlpCkoPV0WIlOo3LHJpWGwVmPlH/Y25wgs3ni5C4yfj80huk/a6dhx/ic4DuXb4+8zJDET/1fj66rYMN/l3TtkxOg6TV1UsRBdtkb4VUokUeeggjOQ+hFeHL79IGJzYpDXfZyjWsS8fNOJ83MEVxblaBU8qCbya+qDXMGbM0nKRZC7YIIRahLVRp0pTJ7WplYObmYAZFKusjtuyfHwCRgHBOl0qMCz6fhviBe+dwXOPsu6ae8O75YWrXnbDuSr9lmWEzs7iikjsNyTQtbVjDBTaqb7u+VccLPXjgyUtN0pcQZmsb4Is4SyWpAeHQeObM0z7cR1Zk=
